<%- include('../layouts/admin-header')%>

      <div class="container">
        <a href="/admin/products/add" class="btn btn-primary mt-3">Add Product</a>

        <h1>Products List</h1>

        <div class="mt-3 alert text-success">
            <%=message %>
        </div>

        <table class="table table-bordered">
            <thead>
              <tr>
                <th>Sl.No</th>
                <th>Product Name</th>
                <th>Product Category</th>
                <th>Product Image</th>
                <th colspan="2" class="text-center">Action</th>
              </tr>
            </thead>
            <tbody>
                <%
                if(data.length>0){
                    let sl=1;
                    for(const product of data){
                %>
                <tr>
                <td><%=sl++ %></td>
                <td><%=product.name%></td>
                <td><%=product.category.name%></td>
                <td><img src="<%='/'+product.image %>" alt="" style="height: 100px;width: 100px;"></td>
                <td><a href="/admin/products/edit/<%=product._id %>" class="btn btn-warning">Edit</a></td>
                    <td>
                        <form action="/admin/products/softDelete/<%=product._id %>" method="POST">
                            <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                      
                        </td>
                </tr>
                <%
                    }
                }
                %>
          

             </tbody>   
      </div>


<%- include('../layouts/admin-footer')%>
